<nav>
    <div class="logo">
        <a [routerLink]="['/home']"><img src="../../../../assets/img/Programming Club-2.png" alt="Programming Club logo"></a>
    </div>
    <div class="nav-list" [ngClass]="{ 'top-navbar': !smallScreen, 'side-navbar': smallScreen }">
        <ul>
            <li>
                <a [routerLink]="['/home']" routerLinkActive="active" (click)="hide()">Home</a>
            </li>
            <li>
                <a [routerLink]="['/current-members']" routerLinkActive="active" (click)="hide()">Members</a>
            </li>
            <li>
                <a [routerLink]="['/contact']" routerLinkActive="active" (click)="hide()">Contact us</a>
            </li>
        </ul>
    </div>
</nav>
